.link--login {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  font-size: 14px;
  color: var(--text-color-white);
  font-weight: 800;
  white-space: nowrap;
  border: 2px solid var(--link-header-border-color);
  border-radius: 50px;
  padding: 14px 13px;
  width: 129px;
  height: 58px;
  border-image: url(../../images/icons/buttons/btn-secondary-default.webp) 63 fill / 88px stretch;
  color: #ffffff;
  font-size: 15px;
  position: relative;
  transition: 0.3s ease;
  text-transform: uppercase;

  &:hover {
    border-image: url(../../images/icons/buttons/btn-secondary-hover.webp) 63 fill / 88px stretch;
  }



}

.game-card__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 13px;
  transition: all 0.3s ease;


  width: 40px;
  height: 40px;
  background-image: url(../../images/icons/buttons/btn-play-primary-default.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, 0, 0;
  border-radius: 12px;
  position: relative;
  z-index: 2;


  &:hover {
    background-image: url(../../images/icons/buttons/btn-play-primary-hover.webp)
  }

  @media (max-width:600px) {
    width: 80px;
    height: 40px;
    font-size: 14px;
  }

  &-underline {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 30px;
    display: block;

    border-bottom: #fff solid 1px;
    line-height: 1;
    transition: 0.3s ease;

    &:hover {
      color: #a5a1c1;
      border-bottom: #a5a1c1 solid 1px;
    }
  }
}

.button--secondary:before .game-card__button {
  position: relative;
  background: var(--button-background);
  color: var(--button-text-color);
  padding: 12px;
  padding-left: 38px;
  font-size: 16px;
  font-weight: 600;
  text-wrap: nowrap;
  border-radius: 24px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('../images/icons/play.svg');

    background-size: contain;
    background-repeat: no-repeat;
  }
}

.registration__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
  font-weight: 800;
  white-space: nowrap;
  border: 2px solid var(--link-header-border-color);
  border-radius: 50px;
  padding: 14px 13px;
  transition: all 0.3s ease;
  width: 150px;
  height: 58px;
  text-transform: uppercase;

  background-color: transparent;
  border-image: url(../../images/icons/buttons/btn-primary-default-green.png) 88 fill / 88px stretch;
  // background-image: url(../../images/icons/buttons/btn-primary-hover-green.png);
  background-repeat: no-repeat;
  background-position: left center, center, right 0 center;
  background-size: 25px 100%, calc(100% - (25px * 2 - 2px)) 100%, 25px 100%;
  transition: background-image 0.2s, background-color 0.3s ease;
  font-size: 15px;
  transition: 0.3s ease;

  &:hover {
    border-image: url(../../images/icons/buttons/btn-primary-hover-green.png) 88 fill / 88px stretch;

  }


}

.registration__button-banner {


  background-color: transparent;
  border-image: url(../../images/icons/buttons/btn-primary-default-green.png) 33 fill / 13px stretch;
  background-repeat: no-repeat;

  transition: background-image 0.2s, background-color 0.3s ease;
  font-size: 15px;
  transition: 0.3s ease;
  font-size: 20px;
  min-height: 80px;
  width: 250px;

  @media (max-width:600px){
    width: 220px;
    font-size: 16px;
    min-height: 70px;
  }

  span {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
  }

  &:hover {
    border-image: url(../../images/icons/buttons/btn-primary-hover-green.png) 34 fill / 13px stretch;
  }



}

.registration__button-banner--promo {
  display: block;
  margin: 10px auto 5px;
  padding: 15px 20px;
  max-width: 220px;
  width: 100%;
  position: relative;
  border: 2px dotted #000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  background: #fff;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background: #fcbf63;

  }

  &:active {
    background: #8b590c;
  }
}



.registration__button.scrolled {
  background-color: transparent;
  border-image: url(../../images/icons/buttons/btn-primary-default-green.png) 88 fill / 88px stretch;
  // background-image: url(../../images/icons/buttons/btn-primary-hover-green.png);
  background-repeat: no-repeat;
  background-position: left center, center, right 0 center;
  background-size: 25px 100%, calc(100% - (25px * 2 - 2px)) 100%, 25px 100%;
  transition: background-image 0.2s, background-color 0.3s ease;
  font-size: 15px;
  transition: 0.3s ease;

  &:hover {
    border-image: url(../../images/icons/buttons/btn-primary-hover-green.png) 88 fill / 88px stretch;

  }


}




.banner-button {
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  background: var(--button-background);
  color: var(--button-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  width: 150px;
  height: 50px;

  position: relative;
  transition: 0.3s ease;

  @media (min-width:767px) {
    &:hover {
      background: var(--button-background-hover);
    }
  }

}

.form-button {

  background: var(--background-form-button);
  color: var(--text-color-white);
  padding: 12px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  width: 100%;
  transition: 0.3s ease;

  &:hover {
    background: var(--background-form-button-hover);
  }
}