section.privacy {
  padding: 0 30px;

 @media (max-width:767px){
   padding: 0 10px;
 }
  &::before {
    display: none;
  }
}


.privacy__wrapper {

  table {
    margin-bottom: 20px;
  }

  .table-color {

    tr,
    td {
      border: 1px solid #ffffff1c;
      background: var(--table-background);

      @media (max-width:479px) {
        font-size: 13px;
        padding: 7px;
      }
    }
  }

  h2 {
    text-align: center;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 40px;
    color: #c6ab94;
    @media (max-width:600px) {
      margin-top: 80px;
      font-size: 26px;
    }

  }

  a {
    color: var(--link-color-privacy);
    transition: 0.3s ease;

    &:hover {
      color: var(--help-link-color);
    }
  }
}


.rest-accordion {
  margin-bottom: 30px;
  max-width: 800px;
  margin: 0 auto;



  h3 {
    font-size: 22px;
    padding-left: 0;
    height: 60px;
    padding-right: 15px;
    margin: 0;
    margin-bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    font-weight: 700;

    // @media (max-width:479px) {
    //   padding-bottom: 0;
    // }

    &:hover {
      color: var(--text-color-white);
    }

    @media (max-width: 767px) {
      font-size: 20px;
      padding-left: 0px;
      line-height: 1.3;
    }

    @media (max-width: 479px) {
      font-size: 18px;
    }

  }

}

.rest-accordion-icon {
  min-width: 23px ;
}

.rest-accordion-title {
  font-size: 700px;
  color: var(--text-color-privacy);
  background: transparent;
}

.rest-accordion-item {
  margin-bottom: 10px;
  background: rgb(27 18 13);
  cursor: pointer;
  border: 1px solid rgb(58 41 31);
  padding-left: 15px;
  position: relative;
  padding-top: 15px;

  @media (max-width:600px) {
    padding-left: 10px;
  }

  &:before {
    position: absolute;
    content: '';
    width: 101%;
    inset-inline-start: -4px;
    inset-inline-end: -3px;
    height: 26px;
    inset-block-start: -3px;
    background: url(../../images/icons/sections-decor/accordion-top_left.7e8a43d6537f1163.png) no-repeat top left, url(../../images/icons/sections-decor/accordion-top_right.3eb0f5136e599e59.png) no-repeat top right;
    background-size: 22px 26px;
  }

  &:after {
    position: absolute;
    content: "";
    width: 101%;
    inset-inline-start: -4px;
    inset-inline-end: -3px;
    height: 26px;
    inset-block-end: -3px;
    background: url(../../images/icons/sections-decor/accordion-bottom_left.34c3945546414604.png) no-repeat bottom left, url(../../images/icons/sections-decor/accordion-bottom_right.b214a6f1044aa79b.png) no-repeat bottom right;
    background-size: 22px 26px;
  }
}



.rest-accordion-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 15px;
  padding-left: 0;
  font-size: 14px;
  color: var(--text-color-privacy);
  border-radius: 0 0 8px 8px;
  margin-top: -5px;
  padding-bottom: 0;
  line-height: 1.4;
  transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;

  ul {
    padding-left: 0;

    li {
      &::before {
        background: var(--text-color-privacy);
      }
    }
  }

}

.rest-accordion-item.active .rest-accordion-content {
  max-height: 50000px;
  padding: 15px 15px 10px 0px;
  opacity: 1;
}

.rest-accordion-item.active .rest-accordion-title {
  color: var(--text-color-white);
}

.rest-accordion-icon {
  display: inline-block; // обязательно
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg); // начальное положение

}

.rest-accordion-item.active .rest-accordion-icon {
  transform: rotate(180deg);
}



@media (max-width: 767px) {


  .rest-accordion-content {
    line-height: 1.2;
  }

  .rest-accordion-title .rest-accordion-icon {
    font-size: 24px;

  }
}

@media (max-width: 479px) {


  .rest-accordion-content {
    font-size: 10px;
  }


}

.rest-accordion-date {
  color: var(--text-color-privacy);
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 20px;
}



//terms 
.terms-description {
  max-width: 800px;
  margin: 0 auto;
  color: var(--text-color-privacy);
  margin-bottom: 20px;
  font-size: 16px;
}